@import "./apply_tailwind.css";
@import "./gradient.css";

:root {
  --sp-primary: #5c836e; /* please refer to tailwind.config.js */
  --sp-secondary: #467e60;
  --sp-tertiary: #edf8f5;
  --sp-dark: #000000;
  --sp-gray: #6b7280; /* gray-600 */
  --sp-danger: #c81e1e;
  --sp-yellow: #faca15; /* yellow-300 */

  --background-color: #fff;

  --max-width-img-sm: 20rem; /*320px*/
  --max-width-img-md: 48.125rem; /*770px*/
  --navbar-height: 60px;
  --navbar-height-mobile: 60px;
  --max-width: 1920px;

  --mobile-width: 576px;
  --tablet-width: 768px;
  --desktop-width: 992px;
  --widescreen-width: 1200px;
  --fullhd-width: 1400px;
}
#app {
  background-color: var(--background-color);
}

body {
  color: var(--sp-dark);
  font-family: "Nunito", sans-serif;
}

.sp-logo-sm {
  width: 40px;
  height: 40px;
}

.sp-logo-md {
  width: 50px;
  height: 50px;
}

.sp-logo-lg {
  width: 80px; /* w-20 */
  height: 80px;
}

.sp-img-lg {
  max-height: 25rem;
  aspect-ratio: 3/5;
}

.sp-img-md {
  max-height: 18rem;
  aspect-ratio: 3/5;
}

.sp-img-xs {
  max-height: 11rem;
  aspect-ratio: 3/5;
}

.sp-img-sm {
  max-height: 13rem;
  aspect-ratio: 3/5;
}

.sp-top-4 {
  top: 1rem !important;
}

.h-navbar {
  height: var(--navbar-height);
}

.sp-absolute {
  position: absolute !important;
}

.sp-height-450 {
  height: 450px;
}
.h-3rem {
  height: 3rem !important;
}

.h-50 {
  height: 50px !important;
}

.h-60 {
  height: 60% !important;
}

.h-94 {
  height: 22rem;
}

.mh-100 {
  min-height: 100vh;
}

.h-100vh {
  height: 100vh !important;
}

.w-60 {
  width: 60% !important;
}

.hover-zoom img {
  transition: transform 0.4s ease;
}

.bg-seavphov {
  background-color: var(--sp-secondary) !important;
}

.bg-seavphov-light {
  background-color: #edf8f5 !important;
}

.font-Roboto {
  font-family: "Roboto Slab", serif;
}

.username::first-letter {
  text-transform: capitalize;
}

.text-gray {
  color: #4f4f4f !important;
}

.text-seavphov {
  color: #5c836e !important;
}

.clickable {
  cursor: pointer;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.ellipsis-container {
  overflow: hidden;
}

.flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
}

.form-label {
  padding-top: 11px !important;
}

.form-control {
  padding-top: 11px !important;
}

.p-11 {
  padding: 11px !important;
}

@media (max-width: 768px) {
  /* tailwind css md*/

  .sp-img-lg {
    max-height: 18rem;
    aspect-ratio: 3/5;
  }

  .w-60 {
    width: 100% !important;
  }
}

/* Override style */

.p-6 {
  padding: 0.75rem !important; /* p-2.5 -> AddDiscussionForm */
}

.border-b.border-gray-200.p-4.rounded-t.flex.justify-between.items-center {
  padding: 0.75rem !important; /* p-2.5 -> fwb-modal */
}

/* override button focus:ring-4 */
button:focus {   
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: transparent !important;
  --tw-ring-color: transparent !important;
  --tw-ring-width: 0px !important;
}