@import './assets/reset.css';
@import '/node_modules/flowbite-vue/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sp-primary: #5c836e; /* please refer to tailwind.config.js */
  --sp-secondary: #467e60;
  --sp-tertiary: #edf8f5;
  --sp-dark: #000000;
  --sp-dark-light: #6b7280; /* text-gray-600 */

  --max-width-img-sm: 20rem; /*320px*/
  --max-width-img-md: 48.125rem; /*770px*/
  --navbar-height: 60px;
  --navbar-height-mobile: 60px;
  --max-width: 1920px;
}

.sp-logo-sm{
  width: 30px;
  height: 30px;
}

.sp-logo-md{
  width: 50px;
  height: 50px;
}

.sp-img-lg{
  width: 200px; 
  height: 300px;
}

.sp-top-4{
  top: 1rem !important;
}

.h-navbar{
  height: var(--navbar-height);
}



.h-3rem {
  height: 3rem !important;
}

.h-50 {
  height: 50px !important;
}

.h-20 {
  height: 20% !important;
}

.h-60 {
  height: 60% !important;
}

.mh-100 {
  min-height: 100vh;
}

.h-100vh {
  height: 100vh !important;
}

.w-60 {
  width: 60% !important;
}

.hover-zoom img {
  transition: transform 0.4s ease;
}

.bg-seavphov {
  background-color: #467e60 !important;
}

.bg-seavphov-light {
  background-color: #edf8f5 !important;
}

.font-Roboto {
  font-family: "Roboto Slab", serif;
}

.username::first-letter {
  text-transform: capitalize;
}

.text-gray {
  color: #4f4f4f !important;
}

.text-seavphov {
  color: #5c836e !important;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.ellipsis-container {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

img {
  image-rendering: crisp-edges !important;
  object-fit: cover;
}

.form-label {
  padding-top: 11px !important;
}

.form-control {
  padding-top: 11px !important;
}

.p-11 {
  padding: 11px !important;
}

@media (max-width: 768px) {
  .w-60 {
    width: 100% !important;
  }
}